* {
  -webkit-boxsizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
